@import url('https://fonts.googleapis.com/css2?family=Lato&family=Questrial&display=swap');


*{
    box-sizing: border-box;
}
body{
    font-family: 'Lato', sans-serif;
font-family: 'Questrial', sans-serif;
}

